.profile__edit-button {
  border: 1px solid #fff;
  background: var(--main-bg-color);
  padding: 0 6px;
  height: 24px;
  margin: 0 0 27px 18px;
  transition: opacity 0.3s;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .profile__edit-button {
    position: absolute;
    top: 155px;
    left: 185px;
    padding: 0 3px;
    height: 18px;
  }
}
