.popup__exit-icon {
  background: url(../../../images/Close\ Icon.svg) center;
  height: 32px;
  width: 32px;
}

@media (max-width: 500px) {
  .popup__exit-icon {
    width: 20px;
    height: 20px;
  }
}