.elements__like-icon {
    background: url(""./images/icon-like.svg");
    width: 22px;
    height: 19px;
    flex-shrink: 0;
    transition: opacity .3s;
}

.elements__like-icon:hover {
    opacity: 0.5;
}

.elements__like-icon:active {
    background: url("./images/icon-like-active.svg");
}